/WhatsApp Image 2026-02-02 at 12.20.21 PM.jpeg
/bank.js
/data.js
/index.html
/info.js
/library.js
/movies.js
/multiplication.js
/node_modules
/package-lock.json
/package.json
/smartelevator.js
/src
/student.js
/student.md
/style.css
/task2.js
/task3.js
/task4.js
/task5.js
/vowel.js